.container {
    max-width: 400px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px rgb(97, 79, 96);
}

#display {
    text-align: right;
    height: 50px;
    line-height: 50px;
    padding: 16px 8px;
    font-size: 50px;
    border-right: 3px solid rgb(237, 155, 220);
    border-left: 3px solid rgb(237, 155, 220); 
    border-top: 3px solid rgb(237, 155, 220);
    border-bottom: 3px solid rgb(237, 155, 220);
}

.buttons {
    display: grid;
    border-bottom: 1px solid rgb(237, 155, 220);
    border-left: 1px solid rgb(237, 155, 220);
    border-right: 1px solid rgb(237, 155, 220);
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.buttons > div {
    border-top: 1px solid rgb(237, 155, 220);
    border-right: 2px solid rgb(237, 155, 220);
}

.button {
    border: 1px solid rgb(237, 155, 220);
    border-right: 2px solid rgb(237, 155, 220);
    line-height: 50px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

#equal {
    background-color:#d4014a;
    color: white;
    font-size: 50px;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}

.button:hover {
    background-color: #d4014a;
    color: rgb(4, 4, 4);
    transition: 0.5s ease-in-out;
}

body {
    background-color: #ffffff; /* Light mode background color */
    color: #000000; /* Light mode text color */
  }
  
  .dark-mode {
    background-color: #2f2f2f; /* Dark mode background color */
    color: #ffffff; /* Dark mode text color */
  }

  .toggle-button {
    padding: 10px 20px;
    background-color: #333333;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    margin-top: 35px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .toggle-button:hover {
    background-color: #9a0a60;
  }
  
  